/*
	Pay1
	main.css
	HTML,CSS,Design Level JS Code developed by :
	Author:Prashant Sani,<prashant@yellowslice.in>
	Colour Codes:
	purple	: #503c97
	blue	: #00bac6
*/

/* =============================================================================
	Index

	1) Global Styles,Resets,Global Links,Abstraction
	2) Header ,Main Navigation
	3) Content 
	4) Footer
	5) Forms
	6) Library Styles
	8) Non-Symentic Class
	7) Print Styles
	==========================================================================  */

/* =============================================================================
	 Resets, Global Styles
	 ========================================================================== */

/* HTML 5 Resets */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
/* Reset */
* {margin:0; padding:0;}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td,figure {
	border:0; 
	outline:0; 
	vertical-align:baseline; 
	background:transparent;
}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
html, body{
	width: 100%;height: 100%;
	position: relative;
}
html{
	background-color: #fff;
	font-family: 'foobar_proregular';
	overflow-x:hidden;
	font-size: 16px;
	color: #58595b;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.wrap{
	width: 960px;
	margin: 0 auto;
	max-width: 95%;
	position: relative;
}
a img,img{border:none;}
img{
	max-width: 100%
}
/* Selection */
::-moz-selection { background: #503c97; color: #fff; text-shadow: none; }
::selection { background: #503c97; color: #fff; text-shadow: none; }

/*Links */
a,button{ 
	text-decoration:none;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
 }
a:visited,a:link { color: #fff; }
a:hover,a:active { color: #888; }
.currentLink{
	cursor:default;
}

/* TYpography */
abbr[title] { border-bottom: 1px dotted; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1,h2,h3,h4,h5,h6,strong{
	font-weight: normal;
}
@font-face {
    font-family: 'foobar_proregular';
    src: url('webfonts/foobar_pro-regular-webfont.eot');
    src: url('webfonts/foobar_pro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/foobar_pro-regular-webfont.woff') format('woff'),
         url('webfonts/foobar_pro-regular-webfont.ttf') format('truetype'),
         url('webfonts/foobar_pro-regular-webfont.svg#foobar_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
address{
	font-style:normal
}
/* Lists  */
ul, ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }
dd { margin: 0; }

/* =============================================================================
	 Header, Main Navigation
	 ========================================================================== */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #503c97;
	z-index: 1500;
	height: 180px;
	overflow: visible;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	-webkit-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
	box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
	-webkit-transition: height .2s ease-out;
	   -moz-transition: height .2s ease-out;
	     -o-transition: height .2s ease-out;
	        transition: height .2s ease-out;
}
header .wrap{
	height: 100%;
	max-width: 98%
}
.scrolledMoreThan90 header{
	height: 90px;
}
.logo img{
	position: relative;
}
.scrolledMoreThan90 header .logo img{
	top: -52px;
}

.logo{
	width: 207px;
	height: 51px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 20px;
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}
.logo img{
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

nav ul{
	list-style:none;	
}
nav {
	position: absolute;	
	right: 0;
	bottom: 0
}
nav ul{
	display: inline-block;
	vertical-align: middle;
}
nav ul a{
	display:inline-block;	
}

nav li:hover > a,nav li:hover span{
	color: #503C97;
	background: #1AC1CC;
}
nav li{
	float: left;
	position: relative;
	margin-right: 1px;
}
nav a,nav li span{
	display: block;
	color: #FFF;
	font-size: 18px;
	position: relative;
	padding: 15px 15px 33px 15px;
	text-align: center;
	min-width: 40px
}
.dropDownContain span,.dropDownContain span:before{
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}
.dropDownContain > span:before{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	top: 25px;
	right: 4px;
	border-top-color: #fff;
}
span.dropDownVis:before{
	cursor: pointer;
	border: 5px solid transparent;
	border-bottom-color: #fff;	
	margin-top: -20px
}
nav ul ul li:first-child > a:first-child:before {
	display: none
}
.dropDownContain > a:after{
	border-top-color: transparent;
	border-bottom-color: #503c97;
	top: 20px;
}	
.subMenu{
	opacity: 0.9;
	filter: alpha(opacity=0.8);
	position: absolute;
	left: -45px;
	padding: 7px 0 0 0;
	top:100px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .2s ease-out;
	   -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	     -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;
}
li:hover .subMenu{
	top:66px;
	opacity: 0.9;
	visibility: visible;
}
.subMenu a{
	padding: 20px 0;
	background: #fefeed;
	color: #000;
	min-width: 190px;
	text-align: center;
}

.socialIcons {
	position: relative;
	top: -8px;
}
.socialIcons li{
	display: inline-block;
}
.socialIcons a{
	width: 20px;
	height: 20px;
	padding: 0;
	padding-bottom:5px;
	text-align: center;
	min-width: 1px
}
.socialIcons li:before{
	display: inline-block;
	float: left;
	content: '|';
	vertical-align: middle;
	color: white;
	padding:0 5px;

}
.socialIcons li:first-child:before{
	display: none;
}
.socialIcons a span{
	display: none
}
/* Mobile Menu */
/* btn */

.toggleMobileMenu {
    position: absolute;
    right: 5px;
    top: -45px;
    width: 30px;
    height: 30px;
    display: none;
    z-index: 100000;
}

.toggleMobileMenu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.toggleMobileMenu span:before, .toggleMobileMenu span:after {
	position: absolute;
	content: '';
}
.toggleMobileMenu span, .toggleMobileMenu span:before, .toggleMobileMenu span:after {
	width: 30px;
	height: 6px;
	background-color: white;
	display: block;
}
.toggleMobileMenu span:before {
	margin-top: -12px;
}
.toggleMobileMenu span:after {
	margin-top: 12px;
}

/* example 5 */
.toggleMobileMenu span {
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: .2s;
}
.toggleMobileMenuOpen span {
	background-color: transparent;
	-webkit-transition-delay: .2s;
}
.toggleMobileMenu span:before {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.toggleMobileMenuOpen span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg);
	-webkit-transition-delay: 0, .2s;
}
.toggleMobileMenu span:after {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}
.toggleMobileMenuOpen span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg);
	-webkit-transition-delay: 0, .2s;
}

/* =============================================================================
	 Content
	 ========================================================================== */
.insideBanner,.insideBanner img {
	width:100%
}
.insideBanner{
	margin:170px 0 50px 0;
			-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}	 
.scrolledMoreThan90 .insideBanner{
	margin-top:85px;
	
}	 

/* Home Page */
.homePanel1{
		background: url(../images/hp-banner-2.jpg) center center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/hp-banner-2.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/hp-banner-2.jpg', sizingMethod='scale')";
		background-attachment: fixed;
}
.homePanel1 h1{
	width: 730px;
	max-width: 90%;
	position: relative;
	top:30%;	
	line-height:1.2em;
	color: #503c97;
	text-align: center;
	margin: 0 auto;
	z-index: 11;
}
.homePanel1 h1 span{
	width: 1em;
	display: inline-block;
}

.homeSequenceWrap{

}
.homeHowToUse{
	background-color: #503c98;
	color: white
}
.homeHowToUse h1{
	color: #00bac6;
	font-size: 50px
}
.HomePhase1 img,
.HomePhase2 img{

}
.HomePhase1{
	position: absolute;
	top: 33%;
	left: 26%;
	width: 26%;
}
.HomePhase1:after,
.HomePhase2:after{
	content: '';display: block;
	position: absolute;
	height: 1px;
	height: 1px;
	width: 150%;
	z-index: 1;
	background-color: white;
	-webkit-transform: rotate(-10deg);
	   -moz-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	     -o-transform: rotate(-10deg);
	        transform: rotate(-10deg);
	top: 24%;
	left: 50%;
}
.HomePhase2:after{
	top: 61%;
	left: 50%;
	-webkit-transform: rotate(20deg);
	   -moz-transform: rotate(20deg);
	    -ms-transform: rotate(20deg);
	     -o-transform: rotate(20deg);
	        transform: rotate(20deg);
}
.HomePhase1 img,
.HomePhase2 img{
	position: relative;
	z-index: 10
}
.HomePhase1 p,
.HomePhase2 p{
	margin-top: 10px;
}
.HomePhase1 p:before,
.HomePhase2 p:before{
	content: "01";
	font-size: 66px;
	color: #00bac6;
	float: left;
	line-height: 1em;
	position: relative;
	top:-10px;
}
.HomePhase2 p:before{
	content: "02"
}
.HomePhase2{
	position: absolute;
	top: 16%;
	right: 7%;
	width: 28%;
}
.homeHow2UseLink{
	border: 1px solid #00bac6;
	padding: 10px 0px 10px 20px;
	color: #00bac6;
	display: block;
}
.homeHow2UseLink:hover,.homeHow2UseLink:active{
	background-color:#00bac6;
	color: #503c97;
	display: block;
}
.homeHow2UseLink span{
	margin: 0 5px 0 5px;
	position: relative;
	top: -2px;

}
.homeHow2UseLink span:after{
	border: 8px solid transparent;
	border-left: 8px solid #fff;
	vertical-align: middle;
	display: inline-block;content: '';
	width: 0;height: 0;
	margin-right: 5px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.homeHow2UseLink:hover span:after{
	border-left: 8px solid #503c97;
	position: relative;
	left: 3px;
}
.homeHowToUse h1 span{
	color: white
}
.homeHowToUse .wrap{
	padding-top: 116px;
}
.homeHow2UseLink{
	position: absolute;
	bottom: 15%;
	right: 10%;
}
.homeApps{
	width:800px;
	margin:0 auto;
}
.homeSignUp{
	background: #33beaa;
}
.homeSignUp h1{
	color:#503c97;
	font-size:50px;
	text-align:center;
	padding-top:150px;
	padding-bottom:60px;
}
.homeSignUp form{
	width:300px;
	display:block;
	margin:0 auto;
}
.subscribeForm{
	text-align: center;
	max-width:100%;
}
.subscribeForm p{
	text-align: left;
	color: #503c97;
	font-size:12px;
	padding-bottom:5px;
}
.subscribeForm fieldset{
	position:relative;
}
.subscribeError{
	position:absolute;
	color:#000;
	font-size:14px;
	bottom:0;
	right:0;
}
.subscribeForm input[type=text],
.subscribeForm input[type=email]{
	width:300px;
	max-width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	display: inline-block;
	margin-bottom:20px;
	font-size:18px; 
}
.subscribeForm input[type=submit]{
	padding:10px 15px;
	border:none;
	background:#503c97;
	color:#fff;
	margin-bottom:120px;
				-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}
.subscribeForm input[type=submit]:hover{
	background:#1ac1cc;
	color:#fff;

}
.homeAppsSec{
	
}
.homeAppsSec h1{
	font-size: 50px;
	color: #503c98;
	text-align: center;
	margin-bottom: 15px;
	line-height: 1;
	padding-top: 120px;
}
.homeAppsSec h1 span{
	color: #33beaa;
}
.homeApps ul{
	text-align: justify;
}
.homeApps ul li{
	display: inline-block;
	width: 275px;
	height: 275px;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 1%, #ffffff 73%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ffffff), color-stop(73%,#ffffff), color-stop(100%,#e7e7e7)); /* 		Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 1%,#ffffff 73%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 1%,#ffffff 73%,#e7e7e7 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 1%,#ffffff 73%,#e7e7e7 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 1%,#ffffff 73%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border:#c1c1c1 solid 1px;

}
.homeApps:after,
.homeApps .homeAppsBreak{
	width: 100%;
	height: 0;
	line-height: 0;
	border:none;
}
.homeApps li em{
	font-style: normal;
	position: absolute;
	left: 0;
	top: 180px;
	text-align: center;
	font-family: 'foobar_proregular';
	width: 100%;
	font-size: 25px;
	color:#414042;
}
.homeApps li span{
	position: absolute;
	left: 0;top: -20px;
	width: 100%;height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.musicApp span{
	background-image: url(../images/homeMktIcons/musicIcon.svg);
}
.gamesApp span{
	background-image: url(../images/homeMktIcons/gamesIcon.svg);
}
.videoApp span{
	background-image: url(../images/homeMktIcons/videoIcon.svg);
}
.liveTVApp span{
	background-image: url(../images/homeMktIcons/liveTVIcon.svg);
}
.paymentApp span{
	background-image: url(../images/homeMktIcons/mobileIcon.svg);
}
.topUpApp span{
	background-image: url(../images/homeMktIcons/topUpIcon.svg);
}

.no-svg .musicApp span{
	background-image: url(../images/homeMktIcons/musicIcon.png);
}
.no-svg .gamesApp span{
	background-image: url(../images/homeMktIcons/gamesIcon.png);
}
.no-svg .videoApp span{
	background-image: url(../images/homeMktIcons/videoIcon.png);
}
.no-svg .liveTVApp span{
	background-image: url(../images/homeMktIcons/liveTVIcon.png);
}
.no-svg .paymentApp span{
	background-image: url(../images/homeMktIcons/mobileIcon.png);
}
.no-svg .topUpApp span{
	background-image: url(../images/homeMktIcons/topUpIcon.png);
}

.shareThis{
	text-align:center;
	font-size:14px;
}

/* About Us */
.aboutPanel1{
	background:#00bac6;
}
.aboutBanner{
	width: 100%;
	padding-top:175px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

}
.aboutBanner{
	padding-top:85px;
}
.aboutFooter{
	position:absolute;
	bottom:0;
	background:white;
	padding: 20px 0 20px 0;
}
.abtPanel1Content{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:#00bac6;
}
.aboutPanel1ImageGif{
	margin-top:50px;
	float:left;
	max-width: 30%;
}
.aboutPanel1MainContent{
	width:67%;
	float:right;
	padding:25px 0;
}
.aboutPanel1MainContent h2{
	font-size:50px;
	color:#503c97;
}
.aboutPanel1MainContent h2 span{
	color:#fff;
}
.aboutPanel1MainContent p{
	font-size:18px;
	color:#fff;
}
.aboutHowToUse{
	background: #503c97;
}
.aboutHowToUse h1{
	padding-top: 120px;
	font-size: 50px;
	color: white;
	color: #40bdab;
	margin-bottom:10px;
}
.aboutHowToUse h1 span{
	color: white;
}

/* Store */
.worldContain{
	width: 800px;
	margin:0 auto;
	position: relative;
	height: 825px;
	background:url(../images/globe.svg) center center no-repeat;
}
.no-svg .worldContain{
	background:url(../images/globe.png) center center no-repeat;
}
.worldContain li{
	position: absolute;
	text-align:center;
	font-size:18px;
	padding-top:100px;
	width:125px;
}
.marketPlaceSec{
	margin-top:260px;
	margin-bottom:65px;
}
.marketPlaceSec h1{
	font-size:50px;
	color:#503c97;
	text-align:center;
	padding-bottom:110px;
}
.marketPlaceSec h1 span{
	color:#5ec3b2;
}
.songsMkt{
	background:url(../images/store/music.svg) no-repeat center center;
	left:360px;
	top:-15px;
}
.no-svg .songsMkt{
	background:url(../images/store/music.png) no-repeat center center;
}
.gamesMkt{
	background:url(../images/store/game.svg) no-repeat center center;
	left:30px;
	top:35px;
}
.no-svg .gamesMkt{
	background:url(../images/store/game.png) no-repeat center center;
}
.ticketsMkt{
	background:url(../images/store/coupans.svg) no-repeat center center;
	right:0px;
	top: 60px;
}
.no-svg .ticketsMkt{
	background:url(../images/store/coupans.png) no-repeat center center;
}
.mobilePaymentsMkt{
	background:url(../images/store/transfer.svg) no-repeat center center;
	right: -50px;
	bottom: 295px;
}
.no-svg .mobilePaymentsMkt{
	background:url(../images/store/transfer.png) no-repeat center center;
}
.eCardsMkt{
	background:url(../images/store/ecards.svg) no-repeat center center;
	right:80px;
	bottom:30px;
}
.no-svg .eCardsMkt{
	background:url(../images/store/ecards.png) no-repeat center center;
}
.mobileMkt{
	background:url(../images/store/movies.svg) no-repeat center center;
	left:280px;
	bottom:0px;
}
.no-svg .mobileMkt{
	background:url(../images/store/movies.png) no-repeat center center;
}
.liveMobileMkt{
	background:url(../images/store/tv.svg) no-repeat center center;
	left:25px;
	bottom:92px;
}
.no-svg .liveMobileMkt{
	background:url(../images/store/tv.png) no-repeat center center;
}
.videosMkt{
	background:url(../images/store/video.svg) no-repeat center center;
	left:-35px;
	top:360px;
}
.no-svg .videosMkt{
	background:url(../images/store/video.png) no-repeat center center;
}
.detailsMkt{
	background:url(../images/store/deals.svg) no-repeat center center;
	right:-30px;
	top:250px;
}
.no-svg .detailsMkt{
	background:url(../images/store/deals.png) no-repeat center center;
}
.marktContentWrap{
	margin-top:85px;
}
.marktContentWrap article{
	width:33.33%;
	float:left;
	padding-left:75px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.marktContentWrap h1{
	font-size:35px;
	text-align:left;
	line-height:1em;
	padding-bottom:20px;
}
.marktContentWrap p{
	font-size:18px;

}
.digitalGoods{
	background:url(../images/digital-goods.svg) no-repeat;
}
.emerginMarket{
	background:url(../images/emerging-market.png) no-repeat;
}
.bigGrowth{
	background:url(../images/big-growth.svg) no-repeat;
}
.no-svg .digitalGoods{
	background:url(../images/digital-goods.png) no-repeat;
}
.no-svg .emerginMarket{
	background:url(../images/emerging-market.svg) no-repeat;
}
.no-svg .bigGrowth{
	background:url(../images/big-growth.png) no-repeat;
}
.textCenter{
	padding: 70px 0 30px 0;
	width: 60%;
	margin: 0 auto;
	text-align:center;
	min-width:300px;
}
/* Partners Page */
.staticHeader{
	position:static;
}
.simplifiedSec{
	width:40%;
	padding-left: 70px;;
	background: url(../images/simplified.svg) left top no-repeat;
}
.no-svg .simplifiedSec{
	background: url(../images/simplified.png) left top no-repeat;
}
.reliableSec{
	width:40%;
	padding-left: 70px;;
	background: url(../images/reliable.svg) left top no-repeat;
}
.no-svg .reliableSec{
	background: url(./images/reliable.png) left top no-repeat;
}
.simplifiedSec{
	float:left;
}
.reliableSec{
	float:right;
}
.partnerSec{
	margin-bottom:65px;
}
.partnerIntro{
	width:650px;
	padding-bottom:8%;
}
.partnerSec h1{
	color:#624e9f;
	font-size: 50px
}
.partnerSec p{
	font-size:18px;
}
.partnerSec h1 span{
	color:#00bac6;
}
.partnerRow2{
	margin-bottom:30px;
}
.boxLink{
	width:320px;
	text-align:left;
	display:block;
	margin:0 auto;
	padding:10px 0 10px 125px;
	font-size:35px;
	background: #503c97 url(../images/logo-inverted.svg) left center no-repeat;
	border-radius:2px;
	border:solid 2px #281373;
	color: white;
	cursor: pointer;
}
.no-svg .boxLink{
	background:#503c97 url(../images/logo-inverted.png) left center no-repeat;
}
.borderFooter{
	height:15px;
	background: #503c97;
	margin-top:90px;
	padding:0;
}
/* Partner Form */
.partnerFormDiv{
	max-height:600px;
	overflow:auto;
}
.partnerForm fieldset{
	position: relative;
	margin-bottom:25px;
}
.partnerForm textarea{
	height:5em;	
}
.partnerForm label{
	font-size:16px;
	padding:0 5px;
	color:#00bac6;
}
.partnerForm input[type=text],
.partnerForm textarea,
.partnerForm input[type=email]{
	border:1px solid #503c97;
	width:95%;
	padding:10px;
	font-size:16px;
		-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}
.partnerForm input[type=text]:focus,
.partnerForm textarea:focus,
.partnerForm input[type=email]:focus{
	
}
.partnerForm input[type=submit]{
	padding:15px 55px;
	font-size:2em;
	background:#503c97;
	border:none;
	color:#fff;
	line-height:1em;
}
.partnerForm input[type=submit]:hover,
.partnerForm input[type=submit]:active,
.partnerForm input[type=submit]:focus{
		-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	background:#00bac6;
}

.partnerForm input[type="radio"]{

}
.partnerFormDivContactCol1, .partnerFormDivContactCol2{
	width:45%;
	float:left;
}
.partnerFormDivContactCol2{
	margin-left:37px;
}
.contactRadio span{
	color:#00bac6;
	font-size:16px;
}
.contactRadio input{
	margin: 0 5px;
}
.contactRadio{
	border:#000 solid 1px;
	width:100%;
	padding:15px 0px;
	margin:25px 0;
	font-size:15px;
	position:inherit;
}
.contactSelect .contactField{
	width:46%;
	margin:0;		
	display:inline-block;
	border:#000 solid 1px;
	height:54px;
}
.contactSelect input[type=text]{
	width:55%;
	margin-top:10px;
	border:none;
}
.partnerErrorMsg{
	color:#fc426a;
	font-size:13px;
	position:absolute;
	right:8px;
	bottom:-21px;
}
.contactSelect .partnerErrorMsg{
	right:50px;
	top:375px;
}
.contactRadio .partnerErrorMsg{
	top:55px;
}

/* Blog */
.blogSec{
	position: relative;
	margin-bottom:150px;
}

.blogMainContent{
	float: right;
	width:62.50% ;
}
.blogMainContent h1{
	font-size:277.78%;
	color:#503c97;
}
.blogSidebar{
	float: left;
	width: 33.33%;

}
.blogSidebar h1{
	font-size:35px;
	color:#503c97;
	padding-bottom:12px;
}
.blogSidebar ul{
	border-radius: 2px;;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	background:#c1c1c1;
	min-height:500px;
}
.blogSidebar li{
	border-bottom: 1px solid white;
	display: block;
	position: relative;
	font-size:18px;
	padding:20px 40px 20px 20px ;
}
.blogSidebar li a:after,
.blogSidebar li span:after{
	content:' ';
	display:inline-block;
	margin-left:10px;
	width: 0; 
	height: 0; 
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-4px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #fff;
}
li.currentPost span:after{
	border-left: 8px solid #503c97;
}
li.currentPost:before,
li.currentPost:after{
	content:" ";
	width:3px;
	height:100%;
	position:absolute;
	display:block;
	top:0;
	background:#fff;
}

li.currentPost:before{
	left:-3px	
}
li.currentPost:after{
	right:-3px		
}
.blogSidebar a span{

}
.currentPost{
	border-top:1px solid #c1c1c1 ;
	background:#fff;
}

/* Contact Page */
.contactMap{
	padding-top:130px;
}
.contactMap h2{
	font-size:20px;
	color:#503c97;
}
#map-canvas{
	width:100%;
	height:194px;
}
.contactSec h1{
	color:#503c97;
	font-size:50px;
}
.contactRow1,
.contactRow2{
	margin-bottom: 80px;;
}
.contactSocial,
.contactSupprt{
	float: left;
	width: 31.25%;
}
.contactSupprt span{
	display: block;
}
.contactLocation,
.contactFormWrap{
	float: right;
	width: 66.14%;
}	

.contactSec a{
	color:#000;
	display:block
}
.contactSocial a span{
	color: #503c97;
}
.contactForm fieldset{
	position: relative;
	margin-bottom:30px;
}
.contactForm label{
	color:#00bac6;
	padding:50px 0 15px 15px;
}
.contactForm textarea{
	height:10em	
}
.contactForm input[type=text],
.contactForm textarea,
.contactForm input[type=email]{
	border:1px solid #503c97;
	width:95%;
	padding:10px;
	font-size:16px;
		-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
}
.contactForm input[type=text]:focus,
.contactForm textarea:focus,
.contactForm input[type=email]:focus{
	
}
.contactForm input[type=submit]{
	padding:25px 65px;
	font-size:2em;
	background:#503c97;
	border:none;
	color:#fff;
	line-height:1em;
}
.contactForm input[type=submit]:hover,
.contactForm input[type=submit]:active,
.contactForm input[type=submit]:focus{
		-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
		 -o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
	background:#00bac6;
}
	
.errorMsg{
	color:#fc426a;
	font-size:16px;
	position:absolute;
	right:-25px;
}
/* =============================================================================
	 Footer
	 ========================================================================== */
footer {
	background: #503C98;
	width: 100%;
}	 
.homeFooter{
	position: absolute;
	bottom: 0;
	left: 0;
}
.homeFooter .backToTop{
	text-align: center;
	background: url(../images/logo-small.svg) center left no-repeat;
	padding: 15px;
	padding-left: 50px;
	width: 100px;
	display: block;
	margin:0 auto;
	font-size: 1em;
	color: white
}
			
.no-svg .homeFooter .backToTop{
	background: url(../images/logo-small.png) center left no-repeat;
}

/* Learn more Footer Bar */
.footerButtonContain{
	width: 100%;
	position: fixed;
	bottom: 0;	 
	text-align: right;
	z-index: 1000;
}
.footerButtonContain button{
	font-family: 'foobar_proregular';
	font-size: 13.25px;
	margin:2px 30px -1px 0;
	width: 140px;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	-webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
         -transition: all 0.3s linear;
		  background-color: #503c97;
		  border:#00bac6 solid 1px;
		  border-radius:5px 5px 0 0;
		  padding:5px;
}
.footer{
	font-size: 15px;
	color: white;
	height: 45px;
	width: 100%;
	position: fixed;
	background-color: #503c97;
	padding: 15;
	bottom: -180px;
	z-index: 1000;
}   
.footer li:first-child{
  	margin-left: 30px
}   
.footer li:last-child{
	float:right;
	margin-right:30px;
	font-size:12px;
} 
.footer article{
  	width: 195px;
}     
.footerItemList li{
	display:inline-block;
	padding:15px;
}
.footer button, .footer a{
   	color: #fff;
}
.footer button:hover, .footer a:hover{
  	text-shadow: 0 0 5px #fff;
}

/* =============================================================================
	 Forms
	 ========================================================================== */
/* Form Resets */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"]
{ cursor: pointer; -webkit-appearance: button}
button[disabled], input[disabled] { cursor: default; }
input,textarea{
	font-family: 'foobar_proregular';
}
button{
	border: none;
	outline: none;
	background: none;
	font-family: 'foobar_proregular';
}
input[type=submit]{
	display:inline-block;
}
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active{
	
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { 
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
}
textarea { overflow: auto; vertical-align: top; resize: vertical; }


/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* Placeholder */
::-webkit-input-placeholder {
   color: #42c4ce;
}
:-moz-placeholder { /* Firefox 18- */
   color: #42c4ce;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #42c4ce;  
}
:-ms-input-placeholder {  
   color: #42c4ce;  
}
/* =============================================================================
	 Library Styles
	 ========================================================================== */
.snappedPannelsContain{
	width: 100%;
	height: 100%;
}
.snappedPannels{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
/* Sequence */
#sequence,
#sequence-theme{
	height: 100%;		
}
#sequence {
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	color: white;
	font-size: 0.625em;
	margin: 0 auto;
	position: relative;

}
#sequence > .sequence-canvas {
	height: 100%;
	width: 100%;
}
#sequence > .sequence-canvas > li {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: -50%;
}
#sequence > .sequence-canvas > li img {
	height: 96%;
}
.sequence-canvas li > * {
	position: absolute;
	-webkit-transition-property: left, opacity;
	transition-property: left, opacity;
}
.sequence-canvas li .title,
.sequence-canvas li .subtitle, 
.sequence-canvas li .sequenceReadMore{
	position:relative;
}
#sequence-preloader {
	background: #d9d9d9;
}

.sequence-pagination {
	bottom: -10%;
	display: none;
	right: 50%;
	position: absolute;
	z-index: 10;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.sequence-pagination li {
	display: inline-block;
	height: 140px;
}
.sequence-pagination li img {
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: margin-bottom, opacity;
	transition-property: margin-bottom, opacity;
}
.sequence-pagination li img:hover {
	margin-bottom: 4px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.sequence-pagination li.current img {
	opacity: 1;
}

.sequence-next,
.sequence-prev {
	position:relative;
	opacity: 0.6;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.sequence-next {
	outline:#00bac6 solid 1px;
	margin:10px 0 0 0;
	padding:10px;
	color:#503c97 !important;
	font-size:18px;
	opacity:0;
	display:block;
	position:static !important;
}
.sequence-next:hover {
	background:#503c97;
	color:#fff !important;
}

.sequence-next:hover,
.sequence-prev:hover {
	opacity: 1;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.sequence-next,
.sequence-prev {
	color: white;
	background:transparent;
	cursor: pointer;
	border:0;
	position: absolute;
	z-index: 1000;
}
.sequence-pause {
	bottom: 0;
	cursor: pointer;
	position: absolute;
	z-index: 1000;
}
.sequence-paused {
	opacity: 0.3;
}
.sequence-prev {
	left: 48%;
	bottom:10px;
}
.sequence-next {
	right: 48%;
	bottom:10px;
}
.sequence-prev img,
.sequence-next img {
	width: auto;
}
.sequenceContent{
	width: 35%;
	opacity:1;
	top:85%;
	position: absolute;
	left:50%
}
.title,
.model,
.subtitle,
.sequence-nav{
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.title {
	color:#503c98;
	font-size: 50px;
	line-height:50px;
	opacity: 0;
	z-index: 50;
	left:-10%;
	margin-bottom:10px;
	line-height: 1em;
}
.animate-in .title {
	left:0;
	opacity: 1;
}
.animate-out .title {
	left:10%;
	opacity: 0;
}
.animate-in .title,
.animate-in .subtitle,
.animate-in .sequence-next,
.animate-in .model{
	opacity:1;
}
.animate-out .title,
.animate-out .subtitle,
.animate-out .sequence-next,
.animate-out .model{
	opacity:0;
}
.subtitle {
	color:#000;
	font-size:18px;
	opacity: 0;
	left:-10%;
	margin-bottom:25px;
}
.animate-in .subtitle {
	left:0;
}
.animate-out .subtitle {
	left:-10%;
}

.model {
	left: 30%;
	top: 64%;
	opacity: 0;
	position: relative;
	height: auto !important;
	max-height: 568px !important;
	width: 35%;
}
.animate-in .model {
	left: 13%;
}
.animate-out .model {
	left: 15%;
}
.sequence-nav {
	bottom: 8%;
	display: none;
	right: 48%;
	position: absolute;
	z-index: 10;
}
.sequence-nav li {
	display: inline-block;
	height: 30px;
}
#sequence-theme .sequence-nav li {
	display: inline-block;
	margin-right:5px
}
#sequence-theme .sequence-nav li span {
	cursor: pointer;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;	
	width:30px;
	height:25px;
	display:inline-block;
	background:url(../images/slide-deactive.png) no-repeat center center;
}
#sequence-theme .sequence-nav li span.active{
	background:url(../images/slide-active.png) no-repeat center center;
}
.sequenceReadMore{
	border:#00bac6 solid 1px;
	padding:10px;
	color:#503c97 !important;
	font-size:18px;
	opacity:0;
}
.sequenceReadMore:hover{
	border:#00bac6 solid 1px;
	background:#503c97;
	color:#fff !important;
}
.sequenceReadMore:after{
	content:' ';
	display:inline-block;
	margin-left:10px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #503c97;
}
.sequenceReadMore:hover:after{
	border-left: 8px solid #fff;
}
.animate-in .sequenceReadMore{
	opacity:1;	
}
@media only screen and (max-width: 1024px) {
	.sequence-nav {
		bottom: 8%;
		right: 45%;	  
	}
	.sequence-next {
		bottom: 21%;
	}
	#sequence{
		height:780px;
	}
	.sequenceContent, .model{
		top:75%;
	}
}
@media only screen and (min-width: 992px) {
}
@media only screen and (max-width: 838px) {
	#sequence {
		height: 550px;
	}
	#sequence .model {
		max-height: 530px !important;
		width: auto;
	}
}
@media only screen and (max-width: 800px) {
	#sequence {
		height: 550px;
	}
	#sequence .title {
		font-size: 2.8em;
	}
	#sequence .subtitle {
		font-size: 1.6em;
	}
	#sequence .sequence-next,
	#sequence .sequence-prev {
		height: 60px;
		margin-top: 0px;
	}
	#sequence .model {
		max-height: 480px !important;
		width: 40%;
	}
}
@media only screen and (max-width: 700px) {
	#sequence > .sequence-canvas > li{
		top: 0;
	}
	#sequence > .sequence-canvas > li img{
		top: 10%;
		width:40%;
		left:2%;
	}
	.sequenceContent{
		top: 10%;
		width:45%;
		left:45%;
	}
	#sequence .sequence-next, #sequence .sequence-prev{
		margin:0 auto;
		width:95%;
	}
	.sequence-nav {
		right: 40%;	  
	}
}
@media only screen and (max-width: 700px) and (orientation: portrait) {
	.homeApps{
		width:60%;
	}
	.homeApps ul li{
		width:200px;
		height:200px;
	}
} 
@media only screen and (max-width: 600px) {
	#sequence {
		height: 450px;
	}
}
@media only screen and (max-width: 568px) {
	#sequence .model {
		left: 50%;
		min-width: 40%;
		width: 40%;
	}
	#sequence .animate-in .model {
		left: 50%;
		margin-left: -20%;
	}
	#sequence .animate-out .model {
		left: 50%;
		margin-left: -20%;
	}
	#sequence .title {
		left: 100%;
		width: 100%;
		z-index: 10;
	}
	#sequence .animate-in .title {
		left: 0%;
	}
	#sequence .animate-out .title {
		left: -100%;
	}
	#sequence .sequence-pagination {
		bottom: 40px;
	}
	#sequence .sequence-pagination li img {
		height: 100px;
	}
}
@media only screen and (max-width: 518px) {
	#sequence {
		height: 500px;
	}
}
@media only screen and (max-width: 468px) {
	#sequence {
		height: 500px;
	}
	#sequence .sequence-pagination {
		opacity: 0;
		visibility: hidden;
	}
}
@media only screen and (max-width: 418px) {
	#sequence {
		height: 500px;
	}
	.sequence-next{
		height:35px !important; 
		font-size:14px;
	}
}
@media only screen and (max-width: 368px) {
	#sequence {
		height: 500px;
	}
}
@media screen and (max-width: 640px) and (orientation: landscape){
  /* some CSS here */
  	#sequence {
		height: 400px;
	}
	.sequence-nav{
		bottom:5%;
	}
}

@media screen and (max-width: 480px) and (orientation: portrait){
	#sequence {
		height: 500px;
	}
	#sequence .model {
		min-width: 45%;
		width: 45%;
	}
	#sequence .animate-in .model {
		margin-left: -22.5%;
	}
	#sequence .animate-out .model {
		margin-left: -22.5%;
	}
	#sequence > .sequence-canvas > li img{
		top:2%;
	}
	.sequenceContent{
		top:38%;
		width:90% !important;
		left:2%;
	}
	.sequence-nav{
		right:24%;
		bottom:3%;
	}


}
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#sequence {
		height: 260px;
	}
	#sequence .model {
		min-width: 24%;
		width: 24%;
	}
	#sequence .animate-in .model {
		left: 17.5%;
		margin-left: 0;
	}
	#sequence .animate-out .model {
		left: 17.5%;
		margin-left: 0;
	}
	#sequence .sequence-pagination {
		right: 17.5%;
	}
}

/* Channel Partner Form Box : Model Effect */
.la-anim-1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ed4e6e;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	pointer-events: none;
}
.la-anim-1::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100%;
	background: #ed4e6e;
	box-shadow: 0 0 15px #ed4e6e, 0 0 5px #ed4e6e;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, box-shadow 2s 4s;
	transition: opacity 0.2s, box-shadow 2s 4s;
	-webkit-transform: rotate(2deg) translateY(-2px);
	transform: rotate(2deg) translateY(-2px);
}
.la-anim-1.la-animate {
	z-index: 100;
	opacity: 0;
	-webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
	transition: transform 5s ease-in, opacity 1s 5s;
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.la-anim-1.la-animate::after {
	box-shadow: 0 0 3px #ed4e6e, 0 0 1px #ed4e6e;
	opacity: 1;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}
.md-perspective body  {
	background: #fff;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
.container {
	background: #e74c3c;
	min-height: 100%;
}
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 300px;
	height: auto;
	z-index: 20000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	visibility: visible;
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 2000;
	opacity: 0;
	background: rgba(80,60,151,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
/* Content styles */
.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}
.md-content h3 {
	margin: 0;
	padding: 0.4em;
	color:#503c97;
	font-size: 2.0em;
	font-weight: 300;
	opacity: 0.8;
	background: #00bac6;
	border-radius: 3px 3px 0 0;
}
.md-content h3 span{
	float:right;
	cursor:pointer;
}
.md-content > div {
	padding: 15px 40px 0px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}
.md-content > div p {
	margin: 0;
	padding: 2px 0;
}
.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}
.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}
/* Effect 13: 3D slit */
.md-effect-13.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}
.md-effect-13 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-moz-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}
.md-show.md-effect-13 .md-content {
	-webkit-animation: slit .7s forwards ease-out;
	-moz-animation: slit .7s forwards ease-out;
	animation: slit .7s forwards ease-out;
		border: #111 solid 1px;
}
@-webkit-keyframes slit {
	50% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
	100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
	50% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
	100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
	50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
	100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}
@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}

@media only screen and (max-width: 1024px) {
	.md-modal {
		width:60%;
	}
	.md-content > div {
		padding: 15px 30px 15px;
	}
	.sequenceContent{
		width:40%;
	}
	.animate-in .model{
		left:10%;
	}
}	
@media only screen and (max-width: 768px) {
	.md-modal {
		width:80%;
	}
	.md-content > div {
		padding: 10px 30px 15px;
	}
}

/* Owl Carousel */

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	cusrsor:move;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  min-height: 100%;
  text-align: center;
  cursor:move;
}
.owl-item{
	z-index: 10;
	position: relative;
}
.owl-item:after{
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	height: 1px;
	width: 100%;
	z-index: 1;
	background-color: white;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	top: 45%;
	left: 45%;
}
.owl-item:nth-child(2n):after{
	top: 60%;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}
.owl-item:last-child:after{
	display: none;
}
.owl-item .item{
	position: relative;
	z-index: 100;
	min-width: 40%
}
.owl-item .item img{
	min-height: 40%;
}
.itemBottom{
	margin-top: 8%;
	display: inline-block;
}
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;

}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	padding: 0px 5px;
	font-size: 12px;
	background: #40bdab;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	position: absolute;
	top: 0;
	height: 100%;
	font-size: 0;
	min-width: 18px;
	cursor: pointer;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
	left: 0;
	
}
.owl-prev:after{
	top: 43%;
	left: 0;
	position: absolute;
	content:"";
	display:block;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid #503c97; 
}
.owl-theme .owl-controls .owl-buttons .owl-next{
	right: 0;
}
.owl-next:after{
	content:"";
	top: 43%;
	right: 0;
	position: absolute;
	display:block;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-left:20px solid #503c97; 
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);
	opacity: 1;
}
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
@media only screen and (max-width: 700px) {
	.owl-carousel{
		height:450px;
	}
	.owl-prev:after,.owl-next:after{
		top:35%;
	}
	.owl-theme .owl-controls .owl-buttons div{
		min-width:8px;
	}
	.owl-prev:after{
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent; 
		border-right:15px solid #503c97; 
	}
	.owl-next:after{
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent; 
		border-left:15px solid #503c97; 
	}
}

/* =============================================================================
		Media Queries 
	 ========================================================================== */
@media only screen and (max-width: 1600px) {
	.homeApps li em{
		top:140px;
	}
}
@media only screen and (max-width: 1024px) {
	.homeApps li em{
		top:140px;
	}
	.HomePhase1{
		position: absolute;
		top: 45%;
		left: 10%;
		width: 35%;
	}
	.HomePhase1:after{
		-webkit-transform: rotate(-20deg);
		   -moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			 -o-transform: rotate(-20deg);
				transform: rotate(-20deg);
	}
	.HomePhase2{
		position: absolute;
		top: 22%;
		right: 8%;
		width: 35%;
	}
	.HomePhase2:after{
		top:80%;
		-webkit-transform: rotate(20deg);
		   -moz-transform: rotate(20deg);
			-ms-transform: rotate(20deg);
			 -o-transform: rotate(20deg);
				transform: rotate(20deg);
	}
	
	.aboutBanner{
		padding-top:150px;
	}
}
@media only screen and (max-width: 850px) {
	.logo {
		width: 170px;
		height: 42px;
	}	
	.scrolledMoreThan90 header .logo img{
		top:  -42px;
	}
	nav a{
		font-size: 1em
	}
}
@media only screen and (max-width: 800px) {
	h1{	font-size:40px !important;}
	h2{ font-size:25px !important;}
	p{  font-size:17px !important;}
	header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #503c97;
		z-index: 1500;
		height: 90px;
		overflow: visible;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
		-webkit-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
		-moz-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
		box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.19);
		-webkit-transition: height .2s ease-out;
		   -moz-transition: height .2s ease-out;
			 -o-transition: height .2s ease-out;
				transition: height .2s ease-out;
	}
	
	/* About Page */
	.aboutBanner{
		padding-top:90px;
	}
	.snappedPannels{
		height:670px;
	}
	.insideBanner{
		margin-top:90px;
	}
	.aboutPanel1MainContent{
		padding: 0 0 50px 0;
	}
	.aboutHowToUse h1{
		padding-top:100px;
	}
	.homeApps{
		width:650px;
		margin:0 auto;
	}
	.homeAppsSec h1{
		font-size:40px;
		padding-top:75px;
	}
	.homeApps ul li{
		height:200px;
		width:200px;
	}
	
	
	/* Store */
	.worldContain{
		width: 100%;
		height: 700px;
		background:url(../images/globe-tablet.svg) center center no-repeat;
	}
	.no-svg .worldContain{
		background:url(../images/globe-tablet.png) center center no-repeat;
	}
	.worldContain li{
		position: absolute;
		text-align:center;
		font-size:18px;
	}
	.marketPlaceSec{
		padding-top:175px;
		margin:0;
		padding-bottom:65px;
	}
	.marketPlaceSec .wrap{
		width:100%;
	}
	.marketPlaceSec h1{
		padding-bottom:45px;
	}
	.marketPlaceSec h1 span{
		color:#5ec3b2;
	}
	.songsMkt{
		left:340px;
		top:-30px;
	}
	.gamesMkt{
		left:55px;
		top:15px;
	}
	.ticketsMkt{
		right:40px;
		top: 2px;
	}
	.mobilePaymentsMkt{
		right: -10px;
		bottom: 245px;
	}
	.eCardsMkt{
		right:93px;
		bottom:20px;
	}
	.mobileMkt{
		left:270px;
		bottom:-10px;
	}
	.liveMobileMkt{
		left:25px;
		bottom:92px;
	}
	.videosMkt{
		left:-10px;
		top:300px;
	}
	.detailsMkt{
		right:0px;
		top:200px;
	}

	.marktContentWrap{
		margin-top:60px;	
	}
	.marktContentWrap article{
		width:30%;
		float:left;
		margin-right:15px;
		padding:75px 10px 20px 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.marktContentWrap h1{
		font-size:35px;
		text-align:left;
		line-height:1em;
		padding-bottom:20px;
	}
	.marktContentWrap p{
		font-size:18px;
	
	}
	.digitalGoods{
		background:url(../images/digital-goods.svg) left top no-repeat;
	}
	.emerginMarket{
		background:url(../images/emerging-market.png) left top no-repeat;
	}
	.bigGrowth{
		background:url(../images/big-growth.svg) left top no-repeat;
	}
	.no-svg .digitalGoods{
		background:url(../images/digital-goods.png) left top no-repeat;
	}
	.no-svg .emerginMarket{
		background:url(../images/emerging-market.svg) left top no-repeat;
	}
	.no-svg .bigGrowth{
		background:url(../images/big-growth.png) left top no-repeat;
	}
	
	
	/* Partner page */
	.partnerIntro{
		width:460px;
	}
	.partnerSec img{
		width:30%;	
	}
	.simplifiedSec,.reliableSec{
		padding-left:0;
		width:45%;
		margin-top:15px;
	}
	.simplifiedSec h1,.reliableSec h1{
		padding-left:70px;
		margin:0 0 20px 0;
	}
	
	/* Contact Page */
	.contactLocation,
	.contactFormWrap{
		float: left;
		width: 60%;
		margin-left: 15px;
	}	
}

@media only screen and (max-width: 700px) {
	/* Mobile Menu */
	header{
		position: relative;
		height: 70px;
	}
	header .wrap{
		width: 95%
	}
	.logo {
		width: 120px;
		height: 30px;
	}
	.scrolledMoreThan90 header .logo img{
		top:  -30px;
	}
	.logo{
		bottom: 20px;
	}
	nav{
		padding-right: 45px;
		bottom: 15px;
	}
	.toggleMobileMenu{
		display: block;
	}
	.mainNav{
		display: none;
	}
	.mainNav li,.mainNav a,.mainNav span{
		display: block;
	}
	.mainNav a,.subMenu a,.mainNav span{
		background: #503c97;
		border-bottom: 1px solid white;
		text-align: center;
		padding: 8px 0;
		color: white;
		position: relative;
	}
	.dropDownContain > span:before{
		top: 50%;
		right: 25px;
		margin-top: -3px;
	}
	.subMenu{
		visibility: visible;
		opacity: 1;
		position: relative;
		width: 100%;
		position: static;
		padding:0;
		display: none
	}
	.subMenu ul{
		border-bottom: 3px solid white;
	}
	.subMenu a{
		font-size: 0.8em;
		padding:3px 0 
	}
	li:hover .subMenu{
		opacity: 1;
	}
	.snappedPannels{
		height: auto;
		min-height: 50%
	}
	.homeAppsSec h1{
		padding-top:15px;
	}
	.marketPlaceSec h1{
		padding-bottom:15px;
	}
	/* Content */
	.insideBanner,
	.scrolledMoreThan90 .insideBanner{
		margin:0 0 10px 0;
	}
	/* Home */
	.homePanel1 h1{
		margin-top: 10%;
		position: static;
	}
	/* About */
	.aboutPanel1MainContent{
		padding: 30px 0 20px 0;
	}
	.aboutPanel1MainContent h2{
		text-align:center;
	}
	#sequence .animate-in .title{
		text-align:center;
	}
	.aboutBanner{
		padding-top: 0;
	}
	.abtPanel1Content{
		position: static;
	}
	.aboutPanel1MainContent p{

	}
	/* Channel Partner */
	.partnerSec{
		float:none;
	}
	.partnerSec img{
		display:none;
	}
	.floatLeft, .floatRight,.simplifiedSec ,.reliableSec{
		float:none;
		width:90%;
	}
	.partnerIntro {
		width:95%;
		padding-bottom:2%;
	}
	/* Blog Page */
	.blogSec{
		margin-bottom: 30px;
	}
	.blogMainContent,
	.blogSidebar{
		width: 100%;
		float: none;
		padding:15px 5px;
	}
	.blogSidebar ul{
		min-height: 100px
	}
	.homeHowToUse .wrap{
		padding-top:10px;
	}

	/* Partner With Us form */
	.md-modal{
		width:90%;
	}
	.md-content > div{
		padding:10px;
	}
	.md-content h3{
		font-size:20px;
	}
	.partnerFormDiv{
		max-height:325px;
	}
	.partnerForm fieldset{
		margin-bottom:18px;
		width:95% !important;
		font-size:14px;
	}
	.contactRadio{
		margin:0;
	}
	
	.partnerForm input[type=text],
	.partnerForm textarea,
	.partnerForm input[type=email],
	.partnerFormDivContactCol1,
	.partnerFormDivContactCol2,
	.contactSelect .contactField,
	.partnerForm label,
	.contactRadio span {
		width:95% !important;
		float:none;
		margin:0;
		font-size:14px;
	}
	.contactSelect .contactField{
		margin-bottom:15px;
		padding:15px 0 0 0;
		width:90%;
		height:35px;
	}
	.partnerErrorMsg{
		font-size:12px;
		bottom:-17px;
	}
}	

@media only screen and (max-width: 600px) {
	.homeApps ul li{
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	.homeAppsSec{
		margin-top:10px;
	}
	.homeApps ul{
		margin-bottom:15px;
	}
	/* About */	
	.aboutPanel1MainContent {
		float: none;
		width: 100%;
	}
	.aboutPanel1ImageGif{
		display: none;
	}
	
	/* Store */
	.marktContentWrap article{
		width: 100%;
		margin-top: 50px;
	}
	.marktContentWrap h1{
		font-size: 25px;
		padding-bottom: 5px;
	}
	.textCenter{
		padding:30px 0;
	}
	
	/* channel partner*/
	.partnerSec h1{
		text-align:center;
	}
	.simplifiedSec, .reliableSec{
		margin-top:30px;
	}
}
@media only screen and (max-height: 800px) {
		.homeAppsSec h1{
			font-size:40px;
		}
		.homeApps ul li{
			height:200px;
			width:200px;
		}
}
@media only screen and (max-height: 700px) and (orientation: landscape){	
	.homeApps{
		
	}
}
@media only screen and (max-height: 700px) {	
		.homeApps{
			width:70%;
			max-width: 400px;
			margin:0 auto;
		}
		.homeAppsSec h1{
			font-size:30px;
		}
		.homeApps ul li{
			height:100px;
			width:100px;
		}
		.homeApps li span{
			-webkit-background-size: 40%;
			background-size: 40%;
		}
		.homeApps li em{
			top:70px;
			font-size: 14px;
		}
}
@media only screen and (max-width: 600px) {
	h1{	font-size:30px !important;}
	h2{ font-size:25px !important;}
	p{  font-size:15px !important;}
	
	.aboutHowToUse h1{
		padding-top:15px;
	}
	.worldContain{
		width:100%;
		background-image:none;
		height:420px;
	}
	.textCenter{
		padding:15px;
		margin: 0 auto;
	}
	
	/* Store */
	.marketPlaceSec{
		padding:0;
		margin-top:15px;
		margin-bottom:65px;
	}
	.worldContain li{
		width:100px;
	}
	.gamesMkt{
		left:0;
		top:0;
	}
	.songsMkt{
		left:36%;
		top:0;
	}
	.ticketsMkt{
		right:0px;
		top:0px;
	}
	
	.videosMkt{
		left:0px;
		top:150px;		
	}
	.detailsMkt{
		left:36%;
		top:150px;
	}
	.mobilePaymentsMkt{
		right:0px;
		bottom:120px;
		padding-top:120px !important;
	}
	
	.liveMobileMkt{
		left:0px;
		bottom:-15px;
		padding-top:115px !important;
	}
	.eCardsMkt{
		right:0;
		bottom:0px;
	}
	.mobileMkt{
		left:36%;
		bottom:0px;
	}
	.marktContentWrap{
		margin-top:30px;
	}	
	
	/* Blog Page */
	.blogSidebar li{
		padding:5px 10px 5px 10px;
	}	
	/* Contact Page*/
	.contactSec article{
		float:none;
		width:100%;
		margin:0;
		padding:0 0 10px 10px;
	}
	.contactSec h1{
		font-size:30px;
	}
	.contactRow1, .contactRow2{
		margin-bottom:10px;
	}
	.contactMap{
		padding-top:10px;
		width:90%;
	}
	.contactForm input[type=text], .contactForm textarea, .contactForm input[type=email]{
		width:80%;
	}
	.errorMsg{
		left:0;
		bottom:-25px;
	}
	.contactForm input[type=submit]{
		padding:15px 55px;
	}
}
@media screen and (max-width: 640px){
	/* Index Page */
	.homeHowToUse{
		height:450px;
	}
	.HomePhase1{
		position: absolute;
		top: 18%;
		left: 8%;
		width: 80%;
	}
	.HomePhase2{
		display:none;
	}
	.HomePhase1 img,
	.HomePhase2 img{
		position: relative;
		z-index: 10
	}
	.HomePhase1 p,
	.HomePhase2 p{
		font-size:13px !important;
		margin-top:0;
	}
	.HomePhase1 p:before{
		top: -5px;
	}
	
	.partnerFormDiv{
		max-height:250px;
	}
	.homeHow2UseLink{
		bottom: 5%;
		right: 9%;
	}
	.homeApps{
		height:530px;
	}
}

@media only screen and (max-width: 400px) {
	.boxLink{
		background-image:none;
		width:250px;
		font-size:25px;
		padding:2px;
		margin-bottom:30px;
		text-align:center;
	}
}
	
/* =============================================================================
		Non-Symentic Class
	 ========================================================================== */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Contain Floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* =============================================================================
		Print Styles
	 ========================================================================== */

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}